<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/main.css" rel="stylesheet">
</head>

<body class="grey-bg">
  <%- include('nav.ejs') %>
    <div class="white-bg">
      <% for(var i=0; i<data.length; i++){ %>
        <div class="list-box">
          <h4>
            <a href="/detail/<%= data[i]._id %>">
              <%= data[i].title %>
            </a>
            <a href="/edit/<%= data[i]._id %>"">βοΈ</a>
          <span class=" delete" data-id="<%= data[i]._id %>"">π—‘οΈ</span>
        </h4>
      </div>
      <% } %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 
    <script>
      for (var i = 0; i < '<%= data.length %>'; i++) {
        document.querySelectorAll('.delete')[i].addEventListener('click', function (e) {
          fetch('/delete?id=' + e.target.dataset.id, {
            method: 'delete'
          })
            .then((r) => {
              if (r.status == 200) {
                return r.text()
              } else {
                //μ„λ²„κ°€ μ—λ¬μ½”λ“μ „μ†΅μ‹ μ‹¤ν–‰ν• μ½”λ“
              }
            })
            .then((result) => {
              e.target.parentElement.parentElement.style.display ='none'
              console.log(result)
            }).catch((error) => {
              //μΈν„°λ„·λ¬Έμ  λ“±μΌλ΅ μ‹¤ν¨μ‹ μ‹¤ν–‰ν• μ½”λ“
              console.log(error)
            })
        })
      }
    </script> 
  </body>
</html>